<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="SonarQube - MinoriEditorShell Sonar way" ToolsVersion="16.0">
  <Include Path="..\..\.sonarlint\minorieditorshellcsharp.ruleset" Action="Default" />
  <Include Path="..\..\.sonarlint\torisankitsune_minorieditorshellcsharp.ruleset" Action="Default" />
</RuleSet>